.laneContainer {
    border-right: 1px solid gray;
    padding: 0 5px;
    position: relative;
    width: 50px;

    > div {
        position: absolute;
    }
}

.laneContainer:last-child {
    border-right: 0 solid gray;
}