.raceScreenContainer {
    background-color: rgb(152, 19, 20);

    .finishText {
        font-size: 40px;
        color: #851413;
        text-transform: uppercase;
        text-align: center;
    }
}